<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/userCtrl.js"></script>
</head>
<body ng-controller="userCtrl">
    <div class="jumbotron">
        <h3 class="userTitle">Bem vindo á pagina inicial!</h3>

        <a href="file:///home/sg-cloud/repositories/ProjetosTrainee/JavaScript/udemyproject-front/cadastroUsuario.html">
            <button class="btn btn-primary btn-block" ng-click="">Fazer cadastro</button>
        </a>     
        <a href="file:///home/sg-cloud/repositories/ProjetosTrainee/JavaScript/udemyproject-front/listarUsuario.html">
            <button class="btn btn-primary btn-block" ng-click="">Listar usuários</button>
        </a>
    </div>
</body>
</html>